<div class="ranking-container container-fluid d-flex flex-column vh-100 p-3 p-md-4">
  <header class="back-header">
    <button class="back-btn" type="button" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
      </svg>
    </button>
  </header>

  <ng-container *ngIf="!isLoading; else loadingTemplate">

    <div class="podium">
      <img src="assets/images/aword.png" alt="Award Podium" class="podium-image">
      
      <div *ngIf="top2" class="place place-2">
        <span class="name">{{ top2.name }}</span>
      </div>
      <div *ngIf="top1" class="place place-1">
        <span class="name">{{ top1.name }}</span>
      </div>
      <div *ngIf="top3" class="place place-3">
        <span class="name">{{ top3.name }}</span>
      </div>
    </div>

    <div class="table-container">
      <table class="ranking-table">
        <thead>
          <tr>
            <th>อันดับ</th>
            <th>ชื่อ</th>
            <th>ต้นไม้</th>
            <th>คะแนน</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of leaderboard; let i = index">
            <td>
              <ng-container *ngIf="i + 1 <= 3; else otherRanks">
                <img *ngIf="i + 1 === 1" src="assets/images/num1.png" alt="1st Place">
                <img *ngIf="i + 1 === 2" src="assets/images/num2.png" alt="2nd Place">
                <img *ngIf="i + 1 === 3" src="assets/images/num3.png" alt="3rd Place">
              </ng-container>
              <ng-template #otherRanks>
                <div class="rank-icon-container">
                  <img src="assets/images/starrank.png" alt="Rank Star">
                  <span class="rank-number">{{ i + 1 }}</span>
                </div>
              </ng-template>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.number_tree }}</td>
            <td>{{ user.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="loading-container">
      <p>กำลังโหลดอันดับ...</p>
    </div>
  </ng-template>
</div>