@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
));

@include mat.all-component-themes($theme);

// --- Global Styles ---
body {
  font-family: var(--font-main), sans-serif;
  margin: 0;
  height: 100%;
}


// --- Layout Utilities ---
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--menu-item-size), 1fr));
  gap: var(--gap-large);
  width: 100%;
}

.img-responsive {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// --- Media Queries ---
@media (min-width: 481px) {
  :root {
    --menu-item-size: 120px;
    --menu-item-height: 150px;
    --gap-large: 40px;
  }
}

@media (min-width: 768px) {
  :root {
    --menu-item-size: 140px;
    --menu-item-height: 170px;
  }
}

@media (min-width: 1200px) {
  :root {
    --menu-item-size: 160px;
    --menu-item-height: 190px;
    --gap-large: 60px;
  }
}
